
//hover effekt på länkar
body .elementor-portfolio__filter {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 3px;
        bottom: 3px;
        width: 0; /* start with a width of 0 */
        height: 1px;
        background-color: black;
        transition: width 0.3s ease-in-out;
      }
      
      &:hover::after {
        width: 90%;
        opacity: 1; /* set the final opacity to 1 on hover */
      }
}
// .flipbox-section .elementor-flip-box-front,
// .flipbox-section .elementor-flip-box-back {
//   position: relative;
// }

// .flipbox-section .elementor-flip-box-front:before,
// .flipbox-section .elementor-flip-box-back:before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
// }

// .flipbox-section .elementor-flip-box-front:hover:before,
// .flipbox-section .elementor-flip-box-back:hover:before {
//   opacity: 1;
// }

